@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Fitness</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>
    <section id="Início" class="home view">
        <div class="highlights">
            <h3>Construa o corpo dos sonhos com</h3>
            <h1><b>Home</b> Fitness</h1><br>
            <p class="tagline">
                <strong>B</strong>em-vindo à Home Fitness! Aqui, inspiramos sua jornada de saúde e boa forma.
                Estamos empolgados para fazer parte da sua busca por um estilo de vida mais saudável!
            </p>
            
        </div>

        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />

            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="#">Home Fitness</a></li>
                <li><a class="menu__item" href="#">Exercícios</a></li>
                <li><a class="menu__item" href="#">Professores</a></li>
                <li><a class="menu__item" href="#">Dieta especial</a></li>
                <li><a class="menu__item" href="#">Contato</a></li>
            </ul>
        </div>

        <div class="banner"></div>
    </section>
    <section id="Sobre" class="about view">
        <div style='font-size: 23px' class="main">
            <h3><span>S</span>obre Nós</h3>
            <h6>"Academia Home Fitness, onde o bom atendimento e o profissionalismo são os pilares da empresa.
                Oferecemos as modalidades de musculação, treinamento funcional, ritmos e avaliação física."</h6>
        </div>
        <div class="content">
            <div class="cols">
                <p style="text-align: justify; width: 100%;"><strong>B</strong>em-vindo à Home Fitness - o seu destino
                    definitivo para saúde, boa forma e superação pessoal. Localizada no coração da cidade, nossa
                    academia é muito mais do que um espaço de exercícios; é um ambiente acolhedor e energético projetado
                    para inspirar e motivar.
                    Nossa missão é clara: capacitá-lo a alcançar níveis elevados de vitalidade e bem-estar. Com uma
                    equipe de treinadores certificados e dedicados, estamos prontos para guiar você em cada etapa da sua
                    jornada fitness. Seja qual for o seu objetivo - perda de peso, ganho de força, condicionamento
                    aeróbico ou simplesmente um estilo de vida mais ativo - estamos equipados com a experiência e os
                    recursos para ajudar você a alcançá-lo.</p>
                <a href="#">Mais</a>
            </div>

            <div class="cols">
                <div class="box">
                    <img src="~/imgs/Img home1.jpg">
                </div>
            </div>
        </div>
    </section>

    <section id="Exercícios" class="Exercícios view">
        <div style='font-size: 23px' class="main">
            <h2><span>E</span>xercícios</h2>
            <h6>Aqui estão alguns de incontáveis exercícios que realizamos na nossa academia</h6>
        </div>

        <div class="content" style="text-align: justify; width: 100%;">
            <div class="frame">
                <div class="box">
                    <img src="~/imgs/workout1.jpg" alt="">
                </div>
                <div class="title">Esteira</div>
                <p>Temos algumas esteiras e outros aparelhos de cárdio na nossa academia,os mesmos auxiliam na perda de
                    gordura e no fortalecimento pulmonar,fazendo com que você tenha mais fôlego e durablidade durante os
                    outros exercícios e no seu dia dia.</p>
            </div>

            <div class="frame">
                <div class="box">
                    <img src="~/imgs/workout2.jpg" alt="">
                </div>
                <div class="title">Levantamento Terra</div>
                <p>O levantamento terra é um dos exercícios mais completos e desafiadores que existem. Ele trabalha
                    diversos grupos musculares do corpo, como glúteos, quadríceps, isquiotibiais, lombar, dorsal,
                    abdominal, bíceps e antebraços.</p>
            </div>

            <div class="frame">
                <div class="box">
                    <img src="~/imgs/workout3.jpg" alt="">
                </div>
                <div class="title">Agachamento Livre</div>
                <p>O agachamento é um exercício multiarticular, padrão ouro no ganho de força. Trabalha os membros e
                    músculos inferiores de uma forma bem completa, além de fortalecer nosso core [músculos que suportam
                    e estabilizam a bacia, pelve e abdome]</p>
            </div>

            <div class="frame">
                <div class="box">
                    <img src="~/imgs/Flexão.jpg" alt="">
                </div>
                <div class="title">Flexão</div>
                <p>Ajuda a fortalecer diversos músculos. Quando feita do jeito certo, a flexão de braço ajuda a
                    fortalecer uma série de músculos, como por exemplo:os músculos do peitoral, tríceps, ombros,
                    abdômen, lombar e, até mesmo, dos membros inferiores.</p>
            </div>

            <div class="frame">
                <div class="box">
                    <img src="~/imgs/workout5.jpg" alt="">
                </div>
                <div class="title">Corda Naval</div>
                <p>Melhora o condicionamento físico,realizando movimentos ondulatórios e exercita toda a musculatura dos
                    membros superiores e inferiores, além de manter uma contração constante da região do CORE (músculos
                    da região do tronco e da coluna que suportam e estabilizam a pélvis, abdômen e bacia).</p>
            </div>

            <div class="frame">
                <div class="box">
                    <img src="~/imgs/workout6.jpg" alt="">
                </div>
                <div class="title">Abdominais Bicicleta</div>
                <p>ocam nos abdominais, nos flexores do quadril e nos oblíquos. Os músculos oblíquos se estendem pelas
                    laterais do seu abdômen, e além de deixarem o abdômen definido, são vitais para dar suporte e
                    estabilidade para a parte inferior das costas.</p>
            </div>
        </div>
    </section>

    <section id="Professores" class="Nossos Professores">
        <div style='font-size: 23px' class="main">
            <h2><span>P</span>rofessores</h2>
            <h6>Nossos profissionais são formados e com mais de 20 anos de experiência na área,estão dísponiveis para
                sanar quaisquer que sejam suas duvidas!</h6>
        </div>

        <div class="content">
            <div class="frame">
                <div class="box">
                    <img src="~/imgs/Val.jpg" alt="">
                </div>
                <div class="hedline">
                    <div class="title">Professores</div>
                    <div class="icons">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                </div>
                <p>Esse é o nosso professor Lorival, formado em educação física,estará dísponivel para o que voçê
                    precisar.</p>
                <a href="#">Ver mais</a>
            </div>

            <div class="frame">
                <div class="box">
                    <img src="~/imgs/douglas.jpg" alt="">
                </div>
                <div class="hedline">
                    <div class="title">Professores</div>
                    <div class="icons">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                </div>
                <p>Esse é o nosso professor Douglas que vai te auxiliar no que você precisar,formado em nutrição e em
                    educação física.</p>
                <a href="#">Ver mais</a>
            </div>
        </div>
    </section>


    <section id="Dieta" class="Dieta view">
        <div style='font-size: 23px' class="main">
            <h2><span>D</span>ieta <span>E</span>special</h2>
            <h6>Aqui está alguns alimentos que ajudam muito no seu progresso na musculação,as informações foram
                colocadas de acordo com nosso nutricionista.</h6>
        </div>
        <div class="content">
            <div class="row">
                <div class="cols a">
                    <div class="heading">Batata Doce</div>
                    <p style="text-align: justify; width: 100%;">A batata-doce é considerada uma fonte de carboidrato
                        bastante saudável, rica em fibras, proteínas, vitaminas do complexo B, vitamina A, C e
                        diferentes sais minerais.
                        A presença de tantas vitaminas fortalece o sistema imunológico, enquanto os sais minerais ajudam
                        a controlar a pressão arterial.
                        É uma fonte de carboidrato complexo de lenta absorção, fornecendo muita energia durante treinos
                        de alta intensidade</p>
                </div>
                <div class="cols b">
                    <div class="boxes">
                        <img src="~/imgs/Batata doce.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cols a">
                    <div class="heading">Frango</div>
                    <p style="text-align: justify; width: 100%;">Um dos melhores alimentos para ganho de massa muscular,
                        o peito de frango é rico em proteína animal.
                        Com baixo teor de gorduras, ele também é fonte de vitaminas B3, B6 e B12 e minerais importantes
                        para o fortalecimento da musculatura, como ferro e selênio.
                        O frango é indicado por quem deseja obter massa magra pelo fato de conter, principalmente,
                        proteína responsável pela reconstrução do tecido muscular.</p>
                </div>
                <div class="cols b">
                    <div class="boxes">
                        <img src="~/imgs/Frango.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Contato" class="Contato view">
        <div style='font-size: 23px' class="main">
            <h2><span>C</span>ontato<span></span></h2>
            <h6>(14) 3644-4130</h6>
            <h6> Av. Batista Périco, 1842, Igaraçu do Tietê - SP, 17350-000</h6>
            <h6> 06:00–12:00, 13:30–21:30</h6>
        </div>

    </section>

    <section class="copyright">
        &copy;copyright <a href="#">Home Fitness</a> 2023 | Todos os direitos reservados
    </section>

</body>

</html>
